.content {
  padding-top: 50px;
}

.badge.good {
  background-color: green;
}

.badge.bad {
  background-color: red;
}

.page-header a {
  color: inherit;
}

.page-header > * {
  margin-right: 0.3em;
}

.listTitle {
  font-size: 15px;
  padding-bottom: 1em;
}

.waveform {
  padding-bottom: 0.5em;
}
