.row
  .col-xs-12
    h1.page-header
      a(ui-sref='devices.index') Devices
      small {{ Device._id }}
      span.badge(ng-class='{good:!Device.check, bad:Device.check}') {{ Device.status() }}

.row
  .col-xs-12
    ul.list-group
      li.list-group-item(ng-repeat='audio in Device.audio track by audio._id')
        .listTitle {{ audio.timestamp | date:'yyyy-MM-dd @ HH:mm:ss' }}
        waveform(audio='/api/audio/{{audio._id}}')
