.jumbotron
  h1 Chain Check
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel consectetur magna, in gravida justo. Praesent magna est, malesuada rutrum orci auctor, ullamcorper venenatis diam. Aenean egestas ipsum eu turpis semper vestibulum. Vestibulum nec convallis ipsum, vel malesuada mi. Nam a eros quis justo sagittis ullamcorper. Sed pulvinar fermentum tortor. Nulla suscipit ullamcorper lorem eu facilisis. Nam urna felis, porttitor sed vulputate eu, lacinia vel nulla.
  p
    a.btn.btn-lg.btn-primary(ui-sref='devices.index') Check it~
